.Modal {
    position: fixed;
    z-index: 200;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    background-color: white;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    top: 30%;
    left: 25%;
    width: 50%;
    transition: all 0.3s ease-out;  /* transition all properties for 300ms in speed where we start faster then we end */
}

.ModalOpen {
      animation: openModal 0.3s ease-out forwards;   /* show this over 0.3s; ease-out defines how it moves between steps in keyframes;
                                                        forwards keeps final animation step as last one - it doesn't go back to first step */
}

.ModalClosed {
    animation: closeModal 1s ease-out forwards;
}

.fade-slide-enter-active {
    animation: openModal 0.3s ease-out forwards;
}

.fade-slide-exit-active {
    animation: closeModal 1s ease-out forwards;
}

@keyframes openModal {
    0% {                                /* at the beggining, when the modal is opened */
        opacity: 0;
        transform: translateY(-100%);   /* move it up for 100% */
    }
    50% {                               /* at the 50% of time */
        opacity: 1;
        transform: translateY(80%);     /* move 20% to the bottom */
    }
    100% {
        opacity: 1;
        transform: translateY(0);      /* using position in the way we positioned it in html code (default position in this case) */
    }
}

@keyframes closeModal {
    0% {                                
        opacity: 1;
        transform: translateY(0);
    }
    50% {                               
        opacity: 0.8;
        transform: translateY(60%);     
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);      
    }
}